/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.douradoTitulo{
  font-size: 160px;
   background: linear-gradient(to left,#9400D3 35%,#ffd700);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-style: italic;
    text-align: center;
		font-weight: bold;
		font-size: 50px;
		font-family: arial, sans-serif;
}

.douradoBotao{
  background-color:#9400D3;
  color:black;
  background-size: contain;
  text-align: center;
  font-style: italic;
  font-family: arial, sans-serif;
  font-weight: bold;
}

.kiwiVariavel{
  color:white;
  font-family: arial;
}

.kiwiBotao{
  background-color:#ffd700;
  color:black;
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
  font-weight: bold;
}

.local input[type="text"], textarea {

  background-color : gray;
}

.branco{
  color:whitesmoke;
  font-weight: bold;
}
.preto{
  color:black;
}
