<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-toolbar>
        <ion-title size="large" (click)="cancel()" class="douradoTitulo">Musicafy</ion-title>
      </ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1></h1>
<h2></h2>
  

  <div id="container">
    <strong class="capitalize" >MusicaFy</strong>
    <p style="align-items: center ;">Seu app para cadastro de músicas favorito</p>
  </div>
</ion-content>